In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#read csv
domain = 'Health'
df = pd.read_excel('raw.xlsx',sheet_name = f'SA2 {domain}')
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,AEDC 2009-2018: Vulnerable on two or more domains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Code,Name,Number of children with valid scores,NaN,NaN,NaN,Developmentally vulnerable (n and %),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Code,Name,2009,2012,2015,2018,2009,NaN,2012,NaN,2015,NaN,2018,NaN
5,NaN,New South Wales,NaN,84317,89260,91143,93468,8668,10.2803,8189,9.17432,8733,9.58165,9001,9.63003
6,NaN,10102,Queanbeyan,673,694,726,773,78,11.5899,74,10.6628,58,7.98898,68,8.7969
7,NaN,11007,Braidwood,32,35,49,37,1,3.125,4,11.4286,8,16.3265,2,5.40541
8,NaN,11008,Karabar,79,103,108,113,15,18.9873,17,16.5049,9,8.33333,16,14.1593
9,NaN,11009,Queanbeyan,181,105,117,129,25,13.8122,4,3.80952,11,9.40171,19,14.7287

In [3]:
#find Victoria
states_tempt = [(v,i)for i,v in enumerate(df.iloc[:,1])if re.findall('[a-zA-Z]+', str(v))]
states_tempt

[(nan, 0),
 (nan, 1),
 ('AEDC 2009-2018: Vulnerable on two or more domains', 2),
 ('Code', 3),
 ('Code', 4),
 ('New South Wales', 5),
 (nan, 663),
 ('Victoria', 664),
 (nan, 1178),
 ('Queensland', 1179),
 (nan, 1773),
 ('South Australia', 1774),
 (nan, 1971),
 ('Western Australia', 1972),
 (nan, 2250),
 ('Tasmania', 2251),
 (nan, 2360),
 ('Northern Territory', 2361),
 (nan, 2434),
 ('Australian Capital Territory', 2435),
 (nan, 2574),
 (nan, 2575),
 ('Suppression rules', 2576),
 ('# AEDC data are not reported for locations in which three or fewer children had been assessed.',
  2577),
 ('* Suppression of AEDC data also occurs when one or more of the following have not been met:',
  2578),
 ('     •  Fewer than fifteen children had valid AEDC scores', 2579),
 ('     •  Less than two teachers had completed Instruments for children in that location;',
  2580),
 ('     •  Instruments were completed for less than 80% of all non special needs children.',
  2581),
 ('Additional minor suppressions have occurred where necessary to preserve confidentiality of related suppressed cells',
  2582)]

In [4]:
#select Vic data, not including the line of the total of Vic
row_idx = list(range(665, 1178))

In [5]:
#select year 2018 & code& name
col_idx  =[i for i,v in enumerate(df.iloc[4, :]) if v == 2018]
col_idx = [1, 2] + col_idx

In [6]:
#rename header
head = [h for h in df.iloc[4] if isinstance(h, str)]
head = ['code', 'name', 'total', 'on_track', 'at_risk', 'vulnerable']
# #rename header for 'one or more' and 'Two or more' sheets
# head = ['code', 'name', 'total',  'vulnerable']
head

['code', 'name', 'total', 'vulnerable']

In [7]:
df = df.iloc[row_idx, col_idx]

In [8]:
df.columns = head

In [9]:
df.head(20)

      code                            name total vulnerable
665  20101                        Ballarat  1275        134
666  21001                       Alfredton   154         12
667  21002                        Ballarat   116          7
668  21003                Ballarat - North   282         19
669  21004                Ballarat - South   281         24
670  21005                       Buninyong   107         12
671  21006                       Delacombe   103         15
672  21007                   Smythes Creek    50          3
673  21008         Wendouree - Miners Rest   182         42
674  20102  Creswick - Daylesford - Ballan   258         22
675  21009            Bacchus Marsh Region    60          6
676  21010               Creswick - Clunes    82          3
677  21011                      Daylesford    59          8
678  21012                   Gordon (Vic.)    57          5
679  20103          Maryborough - Pyrenees   256         39
680  21013                           Avoca    32          2
681  21014                        Beaufort    43          4
682  21015           Golden Plains - North    54          6
683  21016              Maryborough (Vic.)    85         18
684  21017              Maryborough Region    42          9

In [10]:
# dropape rows contain non numeric
df = df[df.iloc[:,2].apply(lambda x: isinstance(x, int))]
df = df[df.iloc[:,3].apply(lambda x: isinstance(x, int))]

#should be commentted for 'one or more' and 'two or more' sheets
df = df[df.iloc[:,4].apply(lambda x: isinstance(x, int))]
df = df[df.iloc[:,5].apply(lambda x: isinstance(x, int))]

In [11]:
# calculate percentage
df['vulnerable_percentage'] = df['vulnerable']/df['total']
df['vulnerable_percentage'] = df['vulnerable_percentage'].apply(lambda x: round(x,2))
df.head(10)

,code,name,total,vulnerable,vulnerable_percentage
665,20101,Ballarat,1275,134,0.11
666,21001,Alfredton,154,12,0.08
667,21002,Ballarat,116,7,0.06
668,21003,Ballarat - North,282,19,0.07
669,21004,Ballarat - South,281,24,0.09
670,21005,Buninyong,107,12,0.11
671,21006,Delacombe,103,15,0.15
672,21007,Smythes Creek,50,3,0.06
673,21008,Wendouree - Miners Rest,182,42,0.23
674,20102,Creswick - Daylesford - Ballan,258,22,0.09

In [12]:
# filter subregion
region_total = df.iloc[0, 2]
current_total = 0
row_idx2 = []
# print(region_total)
count = 1
while count < df.shape[0]:
    i = count
    sub_num = df.iloc[i, 2]
    
    if current_total + sub_num <= region_total:
        row_idx2.append(i)
        current_total += sub_num
        count += 1
    elif current_total == region_total and i + 1 < df.shape[0]:
        region_total = df.iloc[i, 2]
        current_total = 0
        count += 1
    else:
        break

In [13]:
df.head(20)

,code,name,total,vulnerable,vulnerable_percentage
665,20101,Ballarat,1275,134,0.11
666,21001,Alfredton,154,12,0.08
667,21002,Ballarat,116,7,0.06
668,21003,Ballarat - North,282,19,0.07
669,21004,Ballarat - South,281,24,0.09
670,21005,Buninyong,107,12,0.11
671,21006,Delacombe,103,15,0.15
672,21007,Smythes Creek,50,3,0.06
673,21008,Wendouree - Miners Rest,182,42,0.23
674,20102,Creswick - Daylesford - Ballan,258,22,0.09
675,21009,Bacchus Marsh Region,60,6,0.10
676,21010,Creswick - Clunes,82,3,0.04
677,21011,Daylesford,59,8,0.14
678,21012,Gordon (Vic.),57,5,0.09
679,20103,Maryborough - Pyrenees,256,39,0.15
680,21013,Avoca,32,2,0.06
681,21014,Beaufort,43,4,0.09
682,21015,Golden Plains - North,54,6,0.11
683,21016,Maryborough (Vic.),85,18,0.21
684,21017,Maryborough Region,42,9,0.21

In [14]:
len(row_idx2)

443

In [15]:
df = df.iloc[row_idx2]
df = df.reset_index(drop=True)

In [16]:
df.to_csv(f'{domain.lower()}.csv', index=False)